Flask
Werkzeug
waitress

pandas
pandas_ta
statsmodels
imblearn
joblib

requests
tornado
tweepy
python-telegram-bot
pycrypto 
oauthlib
oauth2client
pyotp
itsdangerous

black
flake8
isort
mypy-extensions

APScheduler
schedule

yfinance
robin_stocks

appdirs
cachetools
certifi
chardet
click
discord-webhook
idna
Jinja2
MarkupSafe
mccabe
pathspec
pipreqs
pycodestyle
pyflakes
PySocks
regex
requests-oauthlib
six
slack-webhook
slack_sdk
toml
tzlocal
urllib3
config
mpu
datetime
gspread
numpy
scipy
scikit-learn
